<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Form</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h1>Data Form</h1>
    <div id="form-table">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Omar</td>
        <td>Zidan</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Ashraf</td>
        <td>Ali</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Mohamed</td>
        <td>32</td>
      </tr>
    </table>
    </div>
    <p>Made With &hearts; by Khiiaar Developers Team</p>
    <script src="/assets/plugins.js"></script>
  </body>
</html>
