<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Form</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h1>Data Form</h1>
    <div id="form-table">
    <form action="form" method="POST">
      <input type="text" id="fn"  name="fn" placeholder="First Name" autocomplete="off" required />
      <input type="text" id="ln" name="ln" placeholder="Last Name" autocomplete="off" required />
      <input type="text" name="age" placeholder="Type Your Age" autocomplete="off" required />
      <button type="submit" id="submit">Add</button>
    </form>
    </div>
    <p>Made With &hearts; by Khiiaar Developers Team</p>
    <script src="/assets/plugins.js"></script>
  </body>
</html>
