body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#form-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#form-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 50%;
    padding: 20px;
    margin-bottom: 7px;
    background:#181c22;
    border: 1px solid grey;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{

    padding: 15px;
    width: 15%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    float: right;
    display: block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
    /* background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px; */
    text-align: center;
    text-decoration: underline;
}

p{
  text-align: center;
}

table {
  border-spacing: 5px;
  width: 100%;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}
